<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fabric.mapper.UserMapper">
    <update id="update2">
        update tb_user
        <set>
            <if test="username!=null">username = #{username},</if>
            <if test="image!=null">image    = #{image},</if>
            <if test="updateTime!=null">update_time = #{updateTime},</if>
            <if test="password!=null">password = #{password}</if>
        </set>
        where id = #{id}
    </update>
    <!--collection:遍历的集合
        item:遍历出来的元素
        separator:分割符号
        open:遍历开始前拼接的SQL片段
        close:遍历开始后拼接的SQL片段
     -->
    <delete id="deleteid">
        delete from tb_user where id in <!--(id1,id2,...)-->
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="list2" resultType="com.example.fabric.pojo.user">
        select *
        from tb_user
        <where>
            <if test="name!=null">
                name like concat('%',#{name},'%')
            </if>
            <if test="gender!=null">
                and gender=#{gender}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>